@{
    ViewBag.Title = "Danh sách tài sản";
    ViewBag.pTitle = "Tài sản";
    ViewBag.pageTitle = "Trang chủ";
}
@section styles{
    <!-- DataTables -->
    <link href="~/Content/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="~/Content/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <button type="button" class="btn btn-info" id="btn_sent">Chuyển kho</button>
            </div>
            <div class="card-body">
                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th scope="col">
                                <input type="checkbox" class="form-check-input" id="checkbox-all">
                            </th>
                            <th>Tài sản</th>
                            <th>Kho</th>
                           
                        </tr>
                    </thead>


                    <tbody>
                        @for (int i = 0; i < 10; i++)
                        {
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" data-id="8" class="form-check-input" name="checklist[]">
                                    </div>
                                </td>
                                <td>Tài sản @i</td>
                                <td>Kho @i</td>
                               
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end cardaa -->
    </div> <!-- end col -->
</div> <!-- end row -->

@Html.Partial("CreateModal")
@section scripts{
    <!-- Required datatable js -->
    <script src="~/Content/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/Content/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/assets/libs/jszip/jszip.min.js"></script>
    <script src="~/Content/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Content/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Content/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/Content/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script>
        $(document).ready(function () {
            var table = $('#datatable-buttons').DataTable({
                lengthChange: false,
                language: {
                    searchPlaceholder: "Tìm kiếm",
                    info: "Hiển thị _START_ tới _END_ của _TOTAL_ dữ liệu",
                    infoEmpty: "Hiển thị 0 tới 0 của 0 dữ liệu",
                    search: "_INPUT_",
                    zeroRecords: "Không tìm thấy dữ liệu",
                    emptyTable: "Chưa có dữ liệu",
                    paginate: {
                        first: "Trang đầu",
                        previous: "Trang trước",
                        next: "Trang kế",
                        last: "Trang cuối"
                    }
                },
                buttons: ['excel', 'pdf'],

            });

            table.buttons().container()
                .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
        });
    </script>
    <script src="~/Scripts/app/controllers/fixed-asset.js"></script>
    <script>
        var fixedAssets = new fixedAssetsController();
        fixedAssets.initialize();
    </script>

}