
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3 justify-content-end">
    @*<div class="breadcrumb-title pe-3">@ViewBag.ptitle</div>*@
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i>@ViewBag.pagetitle</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.ptitle</li>
            </ol>
        </nav>
    </div>
</div>