<meta charset="utf-8" />
<title>@ViewBag.title | QLTS</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="QLTS" name="description" />
<meta content="" name="author" />
<!-- App favicon -->
<link rel="icon" href="~/Content/assets/images/favicon-32x32.png" type="image/png" />