<div class="topbar d-flex align-items-center">
    <nav class="navbar navbar-expand">
        <div class="topbar-logo-header">
            <div class="">
                <img src="~/Content/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
            </div>

            <div class="me-3">
                <h4 class="logo-text text-uppercase">Hệ thống quản lý tài sản</h4>
            </div>
        </div>
        <div class="mobile-toggle-menu"><i class='bx bx-menu'></i></div>
        <div class="search-bar flex-grow-1">
            
        </div>
        <div class="top-menu ms-auto">
            
        </div>
        <div class="user-box dropdown">
            <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="~/Content/assets/images/avatars/avatar-9.png" class="user-img" alt="user avatar">
                <div class="user-info ps-3">
                    @if (User.Identity != null) {
                        <p class="user-name mb-0">
                            @User.Identity.Name
                        </p>

                    }
     
                </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" href="@Url.Action("Profile","Account")"><i class="bx bx-user"></i><span>Đổi mật khẩu</span></a>
                </li>
               
                <li>
                    <div class="dropdown-divider mb-0"></div>
                </li>
                <li>
                    <a class="dropdown-item" href="@Url.Action("Logout","Account")"><i class='bx bx-log-out-circle'></i><span>Đăng xuất</span></a>
                </li>
            </ul>
        </div>
    </nav>
</div>